@import url('global.css');

h1, h2 {
  font-family: var(--font-family-secondary);
}

h3 {
  font-family: var(--font-family-secondary);
  margin-bottom: 0.75rem;
}

p {
  margin-bottom: 0.5rem;
}

.view {
  text-align: end;
}

header {
  padding: 1rem 1rem 0 1rem;
}

body {
  background-color: var(--secondary-black);
  color: var(--secondary-cream);
  width: 50%;
  margin: auto;
}

main {
  height: 65vh;
}

main::before, main::after {
  content: "";
  display: block;
  border-top: 1px solid var(--secondary-white);
  width: 100%;
  margin-bottom: 0.75rem;
}

#projects {
  width: 100%;
  padding: 1rem;
}

.project {
  background-color: var(--secondary-cream);
  color: var(--secondary-black);
  padding: 1rem;
  margin: 1rem auto;
  width: 100%;
  box-shadow: var(--shadow-medium);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.project::before {
  content: "";
  display: block;
  border-top: 1px solid var(--secondary-black);
  width: 100%;
  margin-bottom: 0.75rem;
}

.project:hover {
  transform: scale(1.03);
}

footer {
  margin-top: 1rem;
  padding: 1rem;
}

footer p {
  font-family: var(--font-family-secondary);
}

br {
  display: none;
}

@media screen and (max-width: 48rem) {
  header {
  padding: 1rem;
  }
  
  body {
    width: 100%;
  }

  h1 {
    line-height: var(--line-height-extra-tight);
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  br {
    display: block;
  }
}
